<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <title>FixMyCity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/script.js" defer></script>
    <link rel="icon" href="/logo.jpg">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <nav>
        <div class="left">
            <img src="/logo.jpg">
            <a href="/">FixMyCity</a>
        </div>
    
        <div class="right">
            <div class="search">
                <form action="/search" method="post">
                    <input type="text" id="searchBar" name="barre de Recherche" placeholder="Adresse">
                    <button type="submit" onclick='displayMessageForSearchedIncidents()'></button>
                </form>
            </div>

            <% if (username) { %>
                <p><%= username %></p>
            
            <% } else { %>
            <a href="/login">Se connecter</a>
            <% } %>
            
        </div>
    </nav>
        <p id="searchResult"> </p>
        <div class="info">
        <a class="report" href="/report">Reporter un incident</a>
        
        <span class="brown">Jour actuel : <span> <%= today %></span></span>
        </div>
        <table class="signalements">
        <thead>
        <tr>
            <th>Description</th>
            <th>Adresse</th>
            <th>Rapporté par</th>
            <th>Date</th>
        </tr>
        </thead>

        <% if (searchedIncidents && searchedIncidents.length > 0) { %>
        <tbody>
        <% searchedIncidents.forEach(function(searchedIncidents){ %>
        <tr>
          <td><%= searchedIncidents.Description %></td>
          <td><%= searchedIncidents.Adresse %></td>
          <td><%= searchedIncidents.Username %></td>
          <td><%= searchedIncidents.Date %></td>
        </tr>
        <% }); %>
        </tbody>
        <% } else { %>
        <tbody>
        <% incidents.forEach(function(incident) { %>
        <tr>
          <td><%= incident.Description %></td>
          <td><%= incident.Adresse %></td>
          <td><%= incident.Username %></td>
          <td><%= incident.Date %></td>
        </tr>
        <% }); %>
        </tbody>
        <% } %>
        </table>

</body>

</html>