<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <title>FixMyCity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/app.js" defer></script>
    <link rel="icon" href="/logo.jpg">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <nav>
        <div class="left">
            <img src="/logo.jpg">
            <a href="/">FixMyCity</a>
        </div>
    
        <div class="right">
            <div class="search">
                <form action="#">
                    <input type="text" name="barre de Recherche" placeholder="Adresse">
                    <button type="submit"></button>
                </form>
            </div>

            <% if (username) { %>
                <p><%= username %></p>
            
            <% } else { %>
            <a href="/login">Se connecter</a>
            <% } %>
            
        </div>
    </nav>
    <div class="milieu">
        <button class="add">
            <a href="/report">Reporter un incident</a>
        </button>
        <p class="date">Jour actuel : <span> <%= today %></span></p>
        <table class="signalements">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Adresse</th>
                    <th>Rapporté par</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <% incidents.forEach(function(incident){ %>
                    <tr>
                    <td><%= incident.Descritpion %></td>
                    <td><%= incident.Adresse %></td>
                    <td><%= incident.username %></td>
                    <td><%= incident.Date %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</body>

</html>